@model StreetStuff_Shop.ViewModels.BasketViewModel
@{
    Layout = null;
    User? user = WebUserService.GetUserFromSession();
    IEnumerable<Product> products = Model.products;
    IEnumerable<Cart> carts = Model.carts;
    decimal? sum = 0;
}

<div class="container">
    @await Html.PartialAsync("_Layout_header")
</div>

@if (user != null)
{
    <body>
        <div class="container my-5">
            <div class="row">
                <div class="col-md-12 justify-content">
                    <div class="col-md-9">
                        @if (carts.FirstOrDefault(cart => cart.UserId == user.Id) != null)
                        {
                            
                        

                        <h2>Cart :</h2>
                        <div class="row">
                            
                            @foreach (var cart in carts)
                            {
                                if (cart.UserId == user.Id)
                                {
                                    Product? wear = products.FirstOrDefault(p => p.ProductId == cart.ProductId);
                                    <div class="col-md-4 mb-4">
                                        <img src="~/photos/wear/@wear.Photo" alt="Product" class="mb-3">
                                        <h5>@wear.ProductName</h5>
                                        <p>@wear.Price</p>
                                        <div class="input-group mb-3">
@*---------------------------------------------------------------------------------------------------------------------------------------------------*@
                                                <form method="post" action="MinusQuantity">
                                                <input type="hidden" name="id" value="@cart.Id">
                                                <button class="btn btn-outline-secondary" type="button">-</button>
                                            </form>
                                            <form method="post" action="ChangeQuantity">
                                                <input type="hidden" name="id" value="@cart.Id">
                                                <input type="text" class="form-control" value="@cart.Quantity" aria-label="Quantity">
                                            </form>
                                                <form method="post" action="AddQuantity">
                                                <input type="hidden" name="id" value="@cart.Id">
                                                <button class="btn btn-outline-secondary" type="button">+</button>
                                            </form>
@*---------------------------------------------------------------------------------------------------------------------------------------------------*@


                                        </div>
                                        <form method="post" action="RemoveFromBasket">
                                            <input type="hidden" name="id" value="@cart.Id">
                                            <button class="btn btn-danger ">Remove from Cart</button>
                                        </form>
                                    </div>
                                    sum =sum+ wear.Price * cart.Quantity;
                                }
                                
                            
                            }
                            
                            <div class="row">
                                <div class="col-md-6">
                                    <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Continue Shopping</a>
                                </div>
                                <div class="col-md-6 text-end">
                                    <div class="d-flex justify-content-between">
                                        <div class="fw-bold">
                                            Sum: @sum
                                            <button class="btn btn-primary">Place Order</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                            }
                            else
                            {

                                <h2>You don't have any product yet 😜</h2>

                            }

                        



                     </div>
                        
                </div>
            </div>
        </div>
    </body>
}
else
{
    <main class="container my-5">
        <div>
            <h1>You have to log in</h1>
        </div>
    </main>
}
