@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model StreetStuff_Shop.ViewModels.ProfileViewModel
@{

    Layout = null;
    User? user = WebUserService.GetUserFromSession();
    IEnumerable<Product>? products = Model.products;
    IEnumerable<Liked>? liked = Model.liked;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профиль пользователя</title>
    <!-- Подключение Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap.min.css">
    <!-- Подключение пользовательского CSS -->
    <link rel="stylesheet" href="style.css">
</head>
<body>

    @if (user != null)
    {


        <div class="container">
            @await Html.PartialAsync("_Layout_header")
        </div>


        <main class="container my-5">
            <div class="row">
                <div class="col-md-3">
                    <img src="~/photos/logo/@user.Photo" alt="Avatar" class="rounded-circle mb-3 avatar">

                    <br />

                    <a href="" class="btn btn-outline-secondary font-norm">History</a>

                    <button class="btn btn-primary">Change</button>

                </div>


                <div class="col-md-8 ">

                    <p>Email : @user.Email</p>
                    <p>Addres : @user.ShippingAddress</p>
                    <p class="text-muted">Passwod : @user.Password</p>

                    <br />
                    <br />


                    <br />

                    <h3>Liked</h3>
                    <div class="row">                    
                        @foreach (var wear in products)
                        {
                            if (liked.FirstOrDefault(l => (l.ProductId == wear.ProductId) && (l.UserId == user.Id)) != null)
                            {


                                <div class="col-md-4">
                                    <img src="~/photos/wear/@wear.Photo" alt="Product" class="mb-3">
                                    <h5>@wear.ProductName</h5>
                                    <p>@wear.Description</p>
                                    <p>@wear.Brand</p>
                                    <p>@wear.Price</p>
                                    <form method="post" asp-controller="Home" asp-action="AddToBasket">

                                        <input type="hidden" name="ProductId" value="@wear.ProductId">
                                        <input type="hidden" name="UserId" value="@user.Id">

                                         <button class="btn btn-outline-primary">Add to Card</button>
                                    </form>
                                    <br />
                                    <br />
                                    <form method="post" action="RemoveProductFromLiked">
                                        <input type="hidden" name="ProductId" value="@wear.ProductId">
                                        <input type="hidden" name="UserId" value="@user.Id">

                                        <button class="btn btn-outline">Remove from Liked</button>
                                    </form>

                                </div>
                            }
                        }
                    </div>

                </div>
            </div>

        </main>
    }
    else
    {
        <div class="container">
            @await Html.PartialAsync("_Layout_header")
        </div>
        
        <main class="container my-5">
            <div>
                <h1>You have to login </h1>
            </div>
        </main>

    }

                        <!-- Подключение Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>

